.caret-right {
  display: inline-block;
  width: 0;
  height: 0;    
  margin-left: 2px;  
  vertical-align: middle;
  border-left: 5px solid;
  border-left-color:#999999;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}

.nav li.dropdown ul.dropdown-menu li:hover ul {
    display:block;
    position:absolute;
    left:100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav li.dropdown ul.dropdown-menu ul {
    display: none;
    float:right;
    position: relative;
    top: auto;
    margin-top: -27px;
}


@media (max-width: 767px) {
.nav li.dropdown ul.dropdown-menu li.dropdown ul.dropdown-menu li a {
    color:#fafcfd;
}

.nav li.dropdown.open ul.dropdown-menu li.dropdown.open ul {
    display:block;
    position: static;
	float: none;
	width: auto;
	margin-top: 0;
    padding-left: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav li.dropdown.open ul.dropdown-menu li.dropdown ul {
    display:none;
    position: relative;
	float: none;
   
}

.nav li.dropdown.open ul.dropdown-menu li.dropdown.open a.dropdown-toggle{
	background-color: transparent;	
	color: #3498db;	
}
.nav li.dropdown.open ul.dropdown-menu li.dropdown.open ul.dropdown-menu li.active a{
	background-color: transparent;	
	color: #3498db;	
}  
  
}